<footer>
	<p>
		<%= link_to "Write Review", new_movie_review_path(@movie), class: 'button ok review' %>
	</p>
	<p>
		Copyright &copy; 2015
		<%= link_to "The Pragmatic Studio", "http://pragmaticstudio.com" %>
	</p>
</footer>